* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}
/* Changed div to nav */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Changed div to nav */
header nav ul {
    list-style-type: none;
}
/* Changed div to nav */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Changed .content to main */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Benefits "aside" */
.benefits {
    margin-right: 20px auto;
    padding: 10px;
    margin-bottom: 20px auto;
    clear: both;
    float: right;
    width: 20%;
    /* height: 100%; */
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Changed .benefit-lead to .benefit */
/* Deleted benefit-brand and benefit-cost b/c those are now included in .benfit-type styling and all have the same styling */
.benefit-type {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Changed .benefit-lead h3 -brand h3 -cost h3 to Just an h3 tag and deleted the others since they all have the same styling */
.benefit-type h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Changed .benefit-lead img -brand img -cost img to Just an img tag and deleted the others */ 
.benefit-type img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
    
}

/* Changed .search-engine-optimization to ".service" and commented out the other 2 below it */
.service {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Changed from .search-engine-optimization to just ".service img" and applied to all service sections since they have the same styling */
.service img {
    max-height: 200px;
}

/* Changed .search-engine-optimization h2 to ".service h2" and applied to all service sections since they have the same styling */
.service h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
    text-align: center;
}
